@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat|Source+Code+Pro&display=swap');

body {
    margin: 0px;
    background-color: #171717;
}

div.nav {
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #cd422b;
}

div.navl {
    float: left;
    text-align: left;
    padding-left: 20px;
    height: 63px;
}

div.navr {
    float: right;
    text-align: right;
    padding-right: 20px;
}

table {
    height: 63px;
}

th.navr {
    font-family: Montserrat;
    font-size: x-large;
    color: lightgray;
    text-align: center;
    width: 59px;
}

th.navr:hover {
    font-family: Montserrat;
    font-size: x-large;
    color: lightgray;
    border-bottom: 1px solid lightgray;
    text-align: center;
    width: 59px;
    background-color: #E16552;
}

th.navrActive {
    font-family: Montserrat;
    font-size: x-large;
    color: lightgray;
    border-bottom: 1px solid lightgray;
    text-align: center;
    width: 59px;
    background-color: #E16552;
}

p.navl {
    font-family: Permanent Marker;
    font-size: 40px;
    color: #d3d3d3;
    line-height: 62px;
    height: 63px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.navr {
    font-family: Montserrat;
    font-size: large;
    color: lightgray;
}

div.a {
    width: 100%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}